@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {

    --purple: #8E82CC;
    --white: #DADADA;
    --blue: #006F8D;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: top right / cover no-repeat url(assets/bg-stopwatch.jpg);
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
}

section {
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 15px;
}

section > h1 {
    font-size: 2rem;
    color: var(--white);
    text-align: center;
    margin: 2rem 0;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: var(--white);
}

.box > .texts {
    font-size: 5rem;
    color: var(--purple);
    margin-bottom: -10px;
}

.separator {
    font-size: 2rem;
    color: var(--white);
}

.btns {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 15px;
}

.btns > .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 0;
    border-radius: 8px;
    width: 90px;
    height: 40px;
    cursor: pointer;
    transition: ease-in-out .5s;
}

.btn:hover {
    background-color: var(--blue);
}

.iconBtn {
    font-size: 1.5rem;
}

.footer {
    margin: 4rem 0 2rem;
    font-size: .6rem;
    text-align: center;
    color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
    transition: ease-in-out .5s;
}

a:hover {
    color: var(--purple);
}
